/* Our CSS file. */
.container,.content
{
  width:100%;
  height:100%;

}
.part1
{
  width:50%;
  height:48vh;
  float:left;
}
.part2
{
  width:50%;
  height:48vh;
  float:left;
}
.part3
{
  width:50%;
  height:48vh;
  float:left;

}
.part4
{
  width:50%;
  height:48vh;
  float:left;
  display:grid;
  align-content:center;
  justify-content:center;

}
img{
  width:100%;
  height:100%;
}