/* Our CSS file. */

#row{
    margin: 5px;
  }
  #col1{
    height: 550px;
    width: 730px;
    float:left; 
    margin: 5px;
    
  }
  #col{
    height: 550px;
    width: 730px;
    float:left; 
    margin: 5px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .container{
    width: 100%;
    height: 100%;
  }